.container
{
   display: flex;
   justify-content: center;
   margin-top: 20px;
}
.wrapper
{
    position: relative;
    left: 80%;
    top: 30px;
    padding: 5px 5px;
    display: inline-block;
    font-size: 35px;
    margin: 10px 10px;
    cursor: pointer;
}
.container
{
    margin-left: 230px;
    margin-right: 230px;
    margin-top: 230px;
    border: #003399;
}
.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: red;
    padding: 15px;
    border-top: px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 25px;
  }
  .text-box h2
  {
      font-family: Courier;
      color: #003399;
  }
h1
{
margin-top: auto;
color: #003399;
font-family: Mulish, sans-serif;
border-bottom: 3px solid #ffcc00;
font-size: 3em;
box-shadow: 7px 3px 2px #88888888;
}
img
{
    width: 450px;
    height: 250px;
    margin: 10px;
    margin-top: 120px;
    box-shadow: 5px 5px 7px ;
    transition: all 1s;
    cursor: pointer;
}
img:hover
{
     transform: scale(1.1);
}
.text-box
{
    /*background-color: #0872b4;*/
    color: #003399;
    margin: 50px;
    /*margin-top: 5%;*/
    font-size: 17px;
    letter-spacing: 1px;
    /* line-height: 26; */
}
.text-box h2
{
    margin-top: auto;
    color: #0872b4;
    font-family: Mulish, sans-serif;
    font-size: 60px;
    /* line-height: 10px; */
    text-align: center;
}
.text-box h3
{
    color: #0872b4;
    font-family: Courier;
    font-size: 60px;
    /* line-height: 10px; */
    text-align: center;
}
/*.text-box a
{
    font-family: Mulish, sans-serif;
    font-size: 30px;
    margin-top: 30px;
    /* display: inline-block;
    color: #003399;
    padding: 5px 50px;
    text-decoration: none;*/
/* } */
.text-box .btn {
    background: #ffcc00;
    color: #003399;
    margin-left: 5px;
    font-weight: 50;
    height: 50px;
    width: 170px;
    text-align: justify;
    display: flex;
    margin: auto;
}
.auto-input
{
    font-family: Courier;
    color: #ffcc00;
    font-size: 50px;
}
.col-4 h2
{
    color: black;
    font-family: Mulish, sans-serif;
    font-size: 25px;
    text-align: center;
}
.col-4 h3
{
    color: black;
    font-family: Mulish, sans-serif;
    font-size: 25px;
    text-align: center;
}
.col-4 p
{
    color: #003399;
    font-family: Mulish, sans-serif;
    font-size: 20px;
    text-align: center;
}
nav
{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0 10px;
}
nav ul
{
    flex: 1;
    text-align: right;
    padding-right: 40px;
}
nav ul li
{
    display: inline-block;
    list-style: none;
    padding: 10px 10px;
}
nav ul li a
{
    color: #003399;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: Mulish, sans-serif;
    font-size: 17px;
}
.info{  
    width: 80%;
    margin: 50px auto;
}
.info h2{
    font-family: mulish;
    font-size: 2.2em;
    margin: 20px 0;
}

.info-box{
    height: 500px;
    display: flex;
    justify-content: space-between;
}

.holder{
    width: 30%;
    height: 120%;
    background-size: cover;
    background-position: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 40px;
}
.holder p
{
    font-size: 25px;
    font-family: Mulish;
}
.link a
{
        color: white;
        background-color: #0872b4;
        padding: 15px 25px;
        text-decoration: none;
        letter-spacing: 1px;
        font-family: Mulish, sans-serif;
        font-size: 20px;
}
.container2
{
    background-color: #ffcc00;
}
.social
{
    font-size: 1em;
    color: #0872b4;
}

